<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <header>
    <div id="errorMessage"></div>
    <h1>Travel Weather App</h1>
    <h2>Get to know the weather conditions in your travel destination area</h2>
    <form>
      <label for="location">Enter your departure city</label>
      <input type="text" id="location" placeholder="Boston etc" required />
      
      <label for="travelDate">Enter your departure date</label>
      <input type="date" id="travelDate" required>

      <button id="generate" type="submit">Get Weather Forecast</button>
    </form>
  </header>
  <main class="content">
    <div class = "title">Most Recent Entry</div>
    <div id="cityInfo">
      City 123
    </div>
    <div id="weatherInfo">
      <div id = "date"></div> 
      <div id = "temp"></div>
      <div id = "content"></div>
      Weather 123
    </div>
  </main>
  <footer>

  </footer>
</div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>