<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <header>
    <div id="errorMessage"></div>
    <h1>Travel Weather App</h1>
    <h2>Get to know the weather conditions in your travel destination area</h2>
    <form>
      <label for="location">Enter your departure city</label>
      <input type="text" id="location" placeholder="Boston etc" required />
      
      <label for="travelDate">Enter your departure date</label>
      <input type="date" id="travelDate" required>

      <button id="generate" type="submit">Get Weather Forecast</button>
    </form>
  </header>
  <main>
    <div class="cityInfo">
      <div id="cityPic"></div>
      <div id="cityName"><h1></h1></div>
      <div id="regionName">Region: <span></span></div>
      <div id="countryName">Country: <span></span></div>
      <div id="population">Population: <span></span></div>
      <div id="latitude">Latitude: <span></span></div>
      <div id="longtitude">Longtitude: <span></span></div>
    </div>
    <div class="weatherInfo">
      <table id="weatherForecast"></table>
    </div>
  </main>
  <footer>

  </footer>
</div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>